<div
  class="min-h-screen flex items-center justify-center bg-neutral-100 dark:bg-neutral-900"
>
  <div
    class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg dark:bg-neutral-800"
  >
    <div routerLink="/" class="w-full flex justify-center mb-6 cursor-pointer">
      <img  width="100" src="./watchmatch.png" alt="">
    </div>
    <div class="mb-6 text-center">
      <h2 class="text-2xl font-bold text-neutral-700 dark:text-neutral-200">
        Reset Password
      </h2>
      <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-400">
        Enter your new password
      </p>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label
          for="password"
          class="block text-sm font-medium text-neutral-700 dark:text-neutral-200 mb-1"
          >New Password</label
        >
        <p-password
          id="newPassword"
          formControlName="newPassword"
          placeholder="New Password"
          [toggleMask]="true"
          class="w-full"
          styleClass="w-full"
          [inputStyle]="{ width: '100%' }"
          [feedback]="false"
        ></p-password>
        @if (resetPasswordForm.get('newPassword')?.touched &&
        resetPasswordForm.get('newPassword')?.invalid) {
        <ul class="text-sm space-y-1 mt-3">
          <li
            [ngClass]="{
              'text-green-300': passwordRules?.hasUpperCase,
              'text-red-300': !passwordRules?.hasUpperCase
            }"
          >
            <i
              class="pi"
              [ngClass]="
                passwordRules?.hasUpperCase
                  ? 'pi-check text-green-300'
                  : 'pi-times text-red-300'
              "
            ></i>

            Must contain an uppercase letter
          </li>

          <li
            [ngClass]="{
              'text-green-300': passwordRules?.hasLowerCase,
              'text-red-300': !passwordRules?.hasLowerCase
            }"
          >
            <i
              class="pi"
              [ngClass]="
                passwordRules?.hasLowerCase
                  ? 'pi-check text-green-300'
                  : 'pi-times text-red-300'
              "
            ></i>

            Must contain a lowercase letter
          </li>

          <li
            [ngClass]="{
              'text-green-300': passwordRules?.hasNumber,
              'text-red-300': !passwordRules?.hasNumber
            }"
          >
            <i
              class="pi"
              [ngClass]="
                passwordRules?.hasNumber
                  ? 'pi-check text-green-300'
                  : 'pi-times text-red-300'
              "
            ></i>

            Must contain a number
          </li>

          <li
            [ngClass]="{
              'text-green-300': passwordRules?.hasSpecialChar,
              'text-red-300': !passwordRules?.hasSpecialChar
            }"
          >
            <i
              class="pi"
              [ngClass]="
                passwordRules?.hasSpecialChar
                  ? 'pi-check text-green-300'
                  : 'pi-times text-red-300'
              "
            ></i>

            Must contain a special character
          </li>

          <li
            [ngClass]="{
              'text-green-300': passwordRules?.minLength,
              'text-red-300': !passwordRules?.minLength
            }"
          >
            <i
              class="pi"
              [ngClass]="
                passwordRules?.minLength
                  ? 'pi-check text-green-300'
                  : 'pi-times text-red-300'
              "
            ></i>

            Must be at least 8 characters long
          </li>
        </ul>
        }
      </div>

      <div class="mb-4">
        <label
          for="confirmPassword"
          class="block text-sm font-medium text-neutral-700 dark:text-neutral-200 mb-1"
          >Confirm Password</label
        >
        <p-password
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          [toggleMask]="true"
          class="w-full"
          styleClass="w-full mb-3"
          [inputStyle]="{ width: '100%' }"
          [feedback]="false"
        ></p-password>
        <div class="flex flex-col">
          @if (resetPasswordForm.get('confirmPassword')?.touched &&
          resetPasswordForm.get('confirmPassword')?.invalid) {
          <small class="text-red-300">Confirm Password is required.</small>
          } @if(resetPasswordForm.hasError('passwordsMismatch') &&
          resetPasswordForm.get('confirmPassword')?.touched){
          <small class="text-red-300">Passwords do not match.</small>
          }
        </div>
      </div>

      <div class="mt-4">
        <p-button type="submit" label="Reset Password" styleClass="w-full" />
      </div>
    </form>
  </div>
</div>
