<div
  class="min-h-screen flex items-center justify-center bg-neutral-100 dark:bg-neutral-900"
>
  <div
    class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg dark:bg-neutral-800"
  >
    <div routerLink="/" class="w-full flex justify-center mb-6 cursor-pointer">
      <img  width="100" src="./watchmatch.png" alt="">
    </div>
    <div class="mb-6 text-center">
      <h2 class="text-2xl font-bold text-neutral-700 dark:text-neutral-200">
        Reset Password
      </h2>
      <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-400">
        Enter your email address and we will send you a link to reset your password.
      </p>
      
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label
          for="email"
          class="block text-sm font-medium text-neutral-700 dark:text-neutral-200 mb-1"
          >Email</label
        >
        <input
          id="email"
          type="email"
          placeholder="Email address"
          formControlName="email"
          pInputText
          class="w-full px-4 py-2 border rounded-lg dark:bg-neutral-700 dark:text-white dark:border-neutral-600"
        />
        @if(forgotPasswordForm.get('email')?.touched &&
        forgotPasswordForm.get('email')?.invalid){
        <small class="text-red-300">Please enter a valid email.</small>
        }
      </div>

      <div class="mt-4">
        <p-button type="submit" label="Send Email" styleClass="w-full" />
      </div>
    </form>

    <div class="flex items-center justify-between mt-4">
      <span class="w-1/5 border-b dark:border-neutral-600 md:w-1/4"></span>
      <a
        href="javascript:void(0)"
        routerLink="/auth/signin"
        class="text-xs text-neutral-500 uppercase dark:text-neutral-400 hover:underline"
        >sign in</a
      >

      <span class="w-1/5 border-b dark:border-neutral-600 md:w-1/4"></span>
    </div>
  </div>
</div>
