            
<section>
    <div class="container flex items-center min-h-screen px-6 py-12 mx-auto">
        <div class="flex flex-col items-center max-w-sm mx-auto text-center">
            <p class="flex items-center justify-center w-12 h-12 rounded-full text-emerald-500 bg-emerald-100 dark:bg-neutral-800">
                <i class="pi pi-info-circle"></i>
            </p>
            <h1 class="mt-3 text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl">You've submitted your selections!</h1>
            <p class="mt-4 text-gray-500 dark:text-gray-400">Now we're just waiting for your friend to submit their choices. Once they do, you'll see the results!</p>

            <div class="flex items-center w-full mt-6 gap-x-3 shrink-0 sm:w-auto">
                <p-button routerLink="/" type="button" styleClass="w-full" label="Take me home" />
            </div>
        </div>
    </div>
</section>