<div class="min-h-screen flex items-center justify-center p-4">
  <div class="w-full max-w-md mx-auto">
    @if(loading()){
    <app-caroussel-skeleton-loader></app-caroussel-skeleton-loader>
    } @else { @if(isUser1() && user1Status() === 'pending' || !isUser1() &&
    user2Status() === 'pending'){ @if(shows().length > 0){
    <app-matching-carroussel
      [shows]="shows()"
      (approvedChange)="approvedShows.set($event)"
      (rejectedChange)="rejectedShows.set($event)"
    ></app-matching-carroussel>
    <div class="flex justify-center mt-4 align-items-center">
      <p-button
        label="Let's Match"
        [raised]="true"
        [disabled]="isSubmissionDisabled()"
        (click)="SubmitMatching()"
      />
    </div>
    } } @else if(user1Status() === 'completed' && user2Status() ===
    'completed'){
    <app-matching-results [matching]="matching()" ></app-matching-results> } @else {
    <app-matching-submitted-choices></app-matching-submitted-choices>
    }}
  </div>
</div>
